.navbar {
    display: flex;
    position: absolute;
    background: rgb(24, 23, 23);
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
    height: 2.8rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    padding: 0.75rem;
}

.navbar ul a:hover {
    background: #853b1e;
    border-radius: 5px;
}

.logo {
    color: #a85432;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}