/* Header */
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

#showcase:before {
    content: '';
    background: url('../img/login.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#showcase p {
    margin: 0.5rem 0.5rem;
    font-size: 1.1rem;
}

#showcase > div .btn {
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 0.75rem 1.2rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    align-self: center;
}

#showcase > div .btn:hover {
    /* opacity: 0.7; */
    background-color: var(--third-color);
}

#showcase > div > label {
    margin: 0.7rem 0.7rem;
}

.validate {
    height: 2rem;
    border-radius: 10px;
    padding: 0.2rem;
    outline: none;
    text-align: center;
    width: 350px;
    max-width: 500px;
    align-self: center;
}

.invalidate {
    height: 2rem;
    border-radius: 10px;
    padding: 0.2rem;
    outline: none;
    text-align: center;
    width: 350px;
    max-width: 500px;
    align-self: center;
    border: red solid 1px;
}

.text-valid {
    margin: 0.2rem 0.2rem !important;
    font-size: 0.7rem !important;
    visibility: hidden;
}

.text-invalid {
    font-size: 0.7rem !important;
    color: red;
    margin: 0.2rem 0.2rem !important;
}